/* NOTE spacing needs to be better so that all selected cards dont newline */
body{
  background-color: #071952;
}


.container{
  /* border: 6px solid purple; */
  height: 100%;
  margin: 20px auto;
  max-width: 800px;
  min-width: 600px;
  padding: 5px 0 5px 0;
  width: 85%;
}

.card{


  display: inline-block;
  /* height: 150px; */
  /* width: 100px; */
  padding-bottom: 0px;

}

img{
  /* EVENTUALLY ONLY HAVE BORDERS FOR SELECTED CARDS */
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
}



.row{
  /* border: 2px solid pink; */
  display: inline-block;
  margin: 3px 5% 3px 5%;
  width: 90%;

}

.card-held{
  border: 3px solid blue;
}

.card-inactive{

  -webkit-filter: grayscale(100%) brightness(50%);
}


/* I am the grand poobah!!! */
